kivy,
https://github.com/kivymd/KivyMD/archive/master.zip,
materialyoucolor,
exceptiongroup,
asyncgui,
asynckivy,
httpx,
httpx[http2],
httpx[brotli],
httpx[zstd],
h11,
h2,
httpx[socks],
plyer,
pillow,
requests,
httpcore,
certifi,
idna,
sniffio,
charset-normalizer
